body{
    background-color: lightcoral;
}
#root{
    height: 100vh;
}
#colSinistra{
    height: 400px;
    width: 800px;
}
#colDestra{
    height: 400px;
    width: 200px;
}
.imgAnteprimaContainer{
    height: 100px;
    width: 100%;
}
.imgAnteprima{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgFondo{
    display: flex;
    justify-content: center;
    position: relative;
}
.fa-circle-arrow-down {
    position: absolute;
    color: #eee;    
    bottom: 0;      
     font-size: 40px;
    
 }
 .fa-circle-arrow-up{
    position: absolute;
    color: #eee;    
    top: 0;      
     font-size: 40px;
 }
 #img1Selector{
    position: absolute;
    color: #eee;    
    bottom: 0;
    left: 20%;      
     font-size: 20px;
 }
 i:hover{
    color: red !important;
    cursor: pointer;
 }

 #img2Selector{
    position: absolute;
    color: #eee;    
    bottom: 0;
    left: 40%;      
    font-size: 20px;
 }
 #img3Selector{
    position: absolute;
    color: #eee;    
    bottom: 0; 
    right: 40%;      
     font-size: 20px;
 }
 #img4Selector{
    position: absolute;
    color: #eee;    
    bottom: 0;
    right: 20%;     
    font-size: 20px;
 }